{% extends 'base.html.twig' %}


{% block title %}
Liste des utilisateurs
{% endblock %}


{% block body %}

<div class="list-card">

    <div class="list-header">

        <div>
            <h1>Utilisateurs</h1>
            <p>Liste des comptes enregistrés</p>
        </div>

        <a href="{{ path('user_add') }}" class="btn-primary">
            Ajouter
        </a>

    </div>

    <div class="table-wrapper">
        <table id="users-table" class="user-table" data-url="{{ path('user_list', { datatable: 1 }) }}">

            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Libellé</th>
                    <th></th>
                </tr>
            </thead>

            

        </table>
    </div>


</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/user.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/datatables/dataTables.dataTables.min.css') }}">
{% endblock %}
